.products-summary-card {
    background-color: #EAEAEA;
    color: #000000;
}

.products-summary-card .card-header {
    background-color: transparent;
}

.products-summary-card .nav-link {
    color: #000000;
}

.products-summary-card .card-body {
    background-color: #ffffff;
    color: #000000;
}

.products-summary-card .list-group-item {
    background-color: #ffffff;
    color: #000000;
}

.orders-summary-card {
    background-color: #EAEAEA;
    color: #000000;
}

.btn-small {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem; 
}
