<div class="card text-center" data-bs-theme="dark">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link p-3 active" aria-current="true" href="#"
          >Resumen de compras</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link p-3" href="#">Historial de compras</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div
      class="card d-flex flex-column justify-content-between align-items-start p-3"
    >
      <h4>Orden N°12345</h4>
      <div
        class="w-100 d-flex flex-row flex-wrap align-items-stretch justify-content-between"
      >
        <div class="border w-50">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h6 class="text-start my-1">- Productos de la orden:</h6>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item text-start">
                      Camiseta Argentina 2022
                    </li>
                    <li class="list-group-item text-start">
                      Camiseta Argentina 2018
                    </li>
                    <li class="list-group-item text-start">
                      Camiseta Argentina 2014
                    </li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <h6 class="text-start my-1">- Precio total:</h6>
                  <p class="text-start">$100000</p>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="border w-50">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h6 class="text-start my-1">- Datos de entrega:</h6>
              <ul class="list-group list-group-flush">
                <li class="list-group-item my-1">
                  <h6>Fecha estimada de entrega:</h6>
                  <p>A definir | 18/10/1998 | Entregado</p>
                </li>
                <li class="list-group-item my-1">
                  <h6>Estado:</h6>
                  <p>Pendiente/Enviando/Entregado</p>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr />

    <div
      class="card d-flex flex-column justify-content-between align-items-start p-3"
    >
      <h4>Orden N°12345</h4>
      <div
        class="w-100 d-flex flex-row flex-wrap align-items-stretch justify-content-between"
      >
        <div class="border w-50">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h6 class="text-start my-1">- Productos de la orden:</h6>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item text-start">
                      Camiseta Argentina 2022
                    </li>
                    <li class="list-group-item text-start">
                      Camiseta Argentina 2018
                    </li>
                    <li class="list-group-item text-start">
                      Camiseta Argentina 2014
                    </li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <h6 class="text-start my-1">- Precio total:</h6>
                  <p class="text-start">$50000</p>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="border w-50">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h6 class="text-start my-1">- Datos de entrega:</h6>
              <ul class="list-group list-group-flush">
                <li class="list-group-item my-1">
                  <h6>Fecha estimada de entrega:</h6>
                  <p>A definir | 18/10/1998 | Entregado</p>
                </li>
                <li class="list-group-item my-1">
                  <h6>Estado:</h6>
                  <p>Pendiente/Enviando/Entregado</p>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
