<section>
  <div
    class="card orders-summary-card"
    style="background: #ffffff; color: #000000"
  >
    <h5 class="card-header p-3">Estado de envíos</h5>
    <ul class="list-group list-group-flush p-2">
      <li class="list-group-item my-1">
        <a href="#">Orden N° - 12345</a>
        <hr />
        <p>Estado:</p>
        <p>Enviando-Entregado</p>
      </li>
      <li class="list-group-item my-1">
        <a href="#">Orden N° - 12345</a>
        <hr />
        <p>Estado:</p>
        <p>Enviando-Entregado</p>
      </li>
      <li class="list-group-item my-1">
        <a href="#">Orden N° - 12345</a>
        <hr />
        <p>Estado:</p>
        <p>Enviando-Entregado</p>
      </li>
      <li class="list-group-item my-1">
        <a href="#">Orden N° - 12345</a>
        <hr />
        <p>Estado:</p>
        <p>Enviando-Entregado</p>
      </li>
    </ul>
  </div>
</section>
