<body id="bodyId">
    <header class="container-fluid headerClass mx-0 px-0 mb-5 sticky-top">
        <nav class="navbar navbar-expand-lg bg-body-tertiary nav-underline" id="navbarId">
            <div class="container-fluid">
                <div class="d-flex flex-wrap">
                    <a href="./index.html" rel="prefetch">
                        <img class="mx-2" src="../img/logo-light.png" alt="logo" id="logo" loading="lazy">
                    </a>
                    <p class="navbar-brand mainTitle d-flex flex-wrap align-items-center mx-2 my-3">
                        Tienda de campeones
                    </p>
                </div>
                <button class="navbar-toggler my-2 mx-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbarItemsContainer" id="navbarNav">
                    <ul class="navbar-nav mx-5 list-unstyled">
                        <li class="navItem nav-item my-0 mx-1 p-0">
                            <a class="nav-link fw-medium" href="./products.html" rel="prefetch">Productos</a>
                        </li>
                        <li class="navItem nav-item my-0 mx-1 p-0">
                            <a class="nav-link fw-medium" href="./about.html" rel="prefetch">Nosotros</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled mx-2 my-0 d-flex flex-row">
                        <li class="p-0 my-0 mx-1 navItem nav-item d-block" id="log">
                            <!-- Button trigger modal -->
                            <button type="button" class="material-symbols-sharp button text-decoration-none" id="loginBtn"
                                data-bs-toggle="modal" data-bs-target="#loginModal">Login
                            </button>
                        </li>
                        <li id="logoutBtn" class="p-0 my-0 mx-1 navItem nav-item d-none">
                            <button class="material-symbols-sharp button" id="logoutBtn" data-bs-toggle="modal" data-bs-target="#logoutModal">
                                logout
                            </button>
                        </li>
                        <li class="p-0 my-0 mx-1 navItem nav-item">
                            <a href="./cart.html" class="material-symbols-sharp button text-decoration-none"
                                id="cartBtn" rel="prefetch">
                                shopping_cart
                            </a>
                        </li>
                        <li id="togglerBtnDM" class="p-0 my-0 mx-1 navItem nav-item d-block">
                            <button class="material-symbols-sharp button">
                                dark_mode
                            </button>
                        </li>
                        <li id="togglerBtnLM" class="p-0 my-0 mx-1 navItem nav-item d-none">
                            <button class="material-symbols-sharp button ">
                                light_mode
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="d-flex flex-column align-items-center">
        <section><!-- Modal -->
            <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" id="loginForm">
                        <div class="modal-header">
                            <h5 class="modal-title" id="loginModalLabel">Login</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label for="inputEmail" class="form-label">Dirección de e-mail</label>
                                    <input type="email" name="loginEmail" class="form-control" id="inputEmail"
                                        aria-describedby="emailHelp" required autocomplete="email">
                                    <div id="emailHelp" class="form-text">Ingrese una direccion válida.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="inputPassword" class="form-label">Contraseña</label>
                                    <div class="d-flex flex-row align-items-center justify-content-evenly">
                                        <input type="password" name="loginPassword" class="form-control"
                                            id="inputPassword" aria-describedby="passwordHelp" minlength="4"
                                            maxlength="20" required autocomplete="current-password">
                                        <span class="material-symbols-sharp ms-2 d-block"
                                            id="loginVisibilityOn">visibility</span>
                                        <span class="material-symbols-sharp ms-2 d-none"
                                            id="loginVisibilityOff">visibility_off</span>
                                    </div>
                                </div>
                                <input type="submit" style="display: none;" id="submitLoginBtn">
                            </form>
                        </div>
                        <div class="modal-footer d-flex flex-row align-items-center justify-content-between">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#registerModal">Registrarme</button>
                            <div>
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-success" id="logBtn">Ingresar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <!-- Modal to register -->
            <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" id="registerForm">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="registerModalLabel">Registrarse</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="regForm">
                                <div class="mb-3">
                                    <label for="inputRegisterFullName" class="form-label">Nombre</label>
                                    <input type="text" name="nombre" class="form-control" id="inputRegisterFullName"
                                        aria-describedby="nameHelp" required>
                                </div>
                                <div class="mb-3">
                                    <label for="inputRegisterLastName" class="form-label">Apellido</label>
                                    <input type="text" name="apellido" class="form-control" id="inputRegisterLastName"
                                        aria-describedby="apellidoHelp" required>
                                </div>
                                <div class="mb-3">
                                    <label for="inputRegisterDNI" class="form-label">DNI</label>
                                    <input type="text" name="dni" class="form-control" id="inputRegisterDNI"
                                        aria-describedby="dniHelp" required>
                                </div>
                                <div class="mb-3">
                                    <label for="inputRegisterDomicilio" class="form-label">Domicilio</label>
                                    <input type="text" name="domicilio" class="form-control" id="inputRegisterDomicilio"
                                        aria-describedby="domicilioHelp" required>
                                </div>
                                <div class="mb-3">
                                    <label for="inputRegisterEmail" class="form-label">Correo electrónico</label>
                                    <input type="email" name="registerEmail" class="form-control"
                                        id="inputRegisterEmail" aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">Nunca compartiremos tu correo electrónico con
                                        entidades externas.</div>
                                </div>
                                <div>
                                <label for="inputRegisterPassword" class="form-label">Contraseña</label>
                                    <div class="mb-3 d-flex flex-row align-items-center justify-content-evenly">
                                        <input type="password" name="registerPassword" class="form-control"
                                            id="inputRegisterPassword" aria-describedby="passwordHelp" minlength="8"
                                            required>
                                        <span class="material-symbols-sharp ms-2 d-block"
                                            id="registerVisibilityOn">visibility</span>
                                        <span class="material-symbols-sharp ms-2 d-none"
                                            id="registerVisibilityOff">visibility_off</span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="inputRegisterConfirmPassword" class="form-label">Confirmar
                                        Contraseña</label>
                                    <input type="password" name="registerConfirmPassword" class="form-control"
                                        id="inputRegisterConfirmPassword" aria-describedby="confirmPasswordHelp"
                                        minlength="8" required>
                                </div>
                                <div id="passwordHelp" class="form-text">Tu contraseña debe tener al menos 8 caracteres
                                    y debe incluir números, letras mayúsculas/minúsculas y símbolos.</div>
                                <input type="submit" style="display: none;" id="submitRegisterBtn">
                                <div id="successMessage" style="display: none;" class="alert alert-success mt-3">
                                    Usuario registrado con éxito.
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-targer="#loginModal">Cancelar</button>
                            <button type="submit" class="btn btn-success" id="registerBtn">Registrarse</button>
                            <input type="submit" style="display: none;" id="submitRegisterBtn">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal to logout -->
        <section>
            <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="logoutModalLabel">Cerrar sesión</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro/a que querés finalizar tu sesión?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-danger" id="endClientSession">Cerrar sesión</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</main>
</body>