<table class="table table-striped w-100">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Camiseta Argentina 2021</td>
      <td>$12345</td>
      <td>"Argentina-2021-Primera.webp"</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Camiseta Argentina 2021</td>
      <td>$12345</td>
      <td>"Argentina-2021-Primera.webp"</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Camiseta Argentina 2021</td>
      <td>$12345</td>
      <td>"Argentina-2021-Primera.webp"</td>
    </tr>
  </tbody>
</table>
