<footer class="mt-5 p-5" id="footerId">
  <div class="container-fluid row">
    <div class="col d-flex align-items-center footerItem fs-5">
      <span>©Tienda de campeones - Todos los derechos reservados </span>
    </div>
    <div class="col">
      <ul class="list-unstyled nav-underline my-5">
        <li>
          <a
            class="nav-item footerItem nav-link nav d-flex justify-content-end link-offset-3"
            href="https://www.andreani.com/#!/personas"
            target="_blank"
            rel="preconnect"
            >Seguí tu pedido</a
          >
        </li>
        <li>
          <a
            class="nav-item footerItem nav-link nav d-flex justify-content-end link-offset-3"
            href="https://instagram.com/"
            target="_blank"
            rel="preconnect"
            >Instagram</a
          >
        </li>
        <li>
          <a
            class="nav-item footerItem nav-link nav d-flex justify-content-end link-offset-3"
            href="https://facebook.com/"
            target="_blank"
            rel="preconnect"
            >Facebook</a
          >
        </li>
        <li>
          <a
            class="nav-item footerItem nav-link nav d-flex justify-content-end link-offset-3"
            href="/contact"
            rel="prefetch"
            >Contacto</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
