@if (product) {
<div class="card productCard my-3" style="width: 18rem">
  <img [src]="product.image" class="card-img-top" [alt]="product.name" />
  <div class="card-body d-flex flex-column justify-content-evenly">
    <h5 class="card-title">{{ product.name }}</h5>
    <ul>
      <li class="bold">Precio: ${{ product.price }}</li>
    </ul>
    <button type="submit" class="btn btn-success">Agregar al carro</button>
  </div>
</div>
} @else {
<div class="w-100">
  <h3>No hay productos disponibles de este país por el momento</h3>
  <p>Podés seguís explorando nuestros productos</p>
</div>
}
