<section>
  <h2 class="text-center my-2 mx-3">"Llevá la actitud de un campeón a donde vayas."</h2>
  <div
      class="d-flex flex-lg-row flex-md-column flex-sm-column flex-xs-column flex-wrap justify-content-center align-items-stretch">
      <!-- Primera tarjeta vertical -->
      <div
          class="d-flex flex-row justify-content-center align-items-stretch col-xs-12 col-sm-12 col-md-12 col-lg-4">
          <div class="card mx-3 my-3" style="width: 18rem;">
              <img src="/assets/images/products/gral/camisetas.webp" class="card-img-top" alt="todas_LasCamisetas"
                  loading="lazy">
              <div class="card-body d-flex flex-column justify-content-evenly">
                  <h5 class="card-title">"Vestite como un campeón, sentite como un campeón."</h5>
                  <p class="card-text">Encontrá las remeras retro de los campeones del mundo en un solo lugar.
                  </p>
                  <a routerLink="./products" class="btn btn-outline-danger" role="button"
                      rel="prefetch">
                      Nuestros Productos
                  </a>
              </div>
          </div>
      </div>

      <!-- Segunda tarjeta vertical -->
      <div
          class="d-flex flex-row justify-content-center align-items-stretch col-xs-12 col-sm-12 col-md-12 col-lg-4">
          <div class="card mx-3 my-3" style="width: 18rem;">
              <img src="/assets/images/logo-dark.webp" class="card-img-top" alt="logoTienda" loading="lazy">
              <div class="card-body d-flex flex-column justify-content-evenly">
                  <h5 class="card-title">"Calidad y estilo para verdaderos campeones."</h5>
                  <p class="card-text">Descubrí cómo nuestra pasión por el fútbol y la calidad en cada prenda
                      nos convierte en verdaderos campeones del estilo retro.</p>
                  <a routerLink="./products" class="btn btn-outline-info" role="button" rel="prefetch">
                      Descubrí nuestra pasión
                  </a>
              </div>
          </div>
      </div>

      <!-- Tercera tarjeta vertical -->
      <div
          class="d-flex flex-row justify-content-center align-items-stretch col-xs-12 col-sm-12 col-md-12 col-lg-4">
          <div class="card mx-3 my-3" style="width: 18rem;">
              <img src="/assets/images/copa-del-mundo.webp" class="card-img-top" alt="trofeo" loading="lazy">
              <div class="card-body d-flex flex-column justify-content-evenly">
                  <h5 class="card-title">"Años de experiencia y colaboración nos avalan"</h5>
                  <p class="card-text">Unite a nuestra comunidad y conocé los mejores beneficios.</p>
                  <a routerLink="/about" class="btn btn-outline-success" role="button" rel="prefetch">
                      Unite a nuestra comunidad
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>
