<!-- Row 1 -->
<!-- <link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/> -->

<div class="card-body">
  <div class="row py-3 mb-3">
    <div class="col-12 col-sm-12 col-md-12 col-lg-4">
      <div class="bg-image cardImg rounded d-flex align-items-center">
        <img
          class="w-100 rounded"
          [src]="product.image"
          alt="{{ product.name }}"
        />
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-5 productDetails">
      <h5 class="mt-2">{{ product.name }}</h5>
      <small>{{ product.variant }}</small>
      <ul class="list-unstyled my-2">
        <li>
          <p class="fs-5">${{ product.price }}</p>
        </li>
      </ul>
      <ul class="col-12 col-sm-12 list-unstyled mt-5 mx-3 d-flex flex-row">
        <li>
          <button
            class="mt-1 me-1 mb-1 p-2 material-symbols-sharp rounded btnDeleteItem"
            (click)="deleteProduct()"
          >
            delete
          </button>
        </li>
        <li>
          <button
            class="mt-1 me-1 mb-1 p-2 material-symbols-sharp rounded btnReduceItem"
            (click)="decreaseAmount()"
          >
            remove
          </button>
        </li>
        <li>
          <button
            class="mt-1 me-1 mb-1 p-2 material-symbols-sharp rounded btnAddItem"
            (click)="increaseAmount()"
          >
            add
          </button>
        </li>
      </ul>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 px-4 mt-2">
      <ul class="p-0">
        <li>
          <h6>Cantidad:</h6>
          <p class="fs-5">{{ product.amount }}</p>
        </li>
        <li>
          <h6>Subtotal:</h6>
          <p class="fs-5">{{ product.price * product.amount }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
