<section>
  <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" id="registerForm">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="registerModalLabel">Registrarse</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" class="form" (submit)="onEnviar($event)">

            <div class="m-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" id="nombre" class="form-control" formControlName="name">
              @if (this.form.controls['name'].hasError('required')) {
              <p class="text-danger">Por favor, ingresa tu nombre.</p>
              }
            </div>
            <div class="m-3">
              <label for="apellido" class="form-label">Apellido</label>
              <input type="text" id="apellido" class="form-control" formControlName="lastName">
              @if (this.form.controls['lastName'].hasError('required')) {
              <p class="text-danger">Por favor, ingresa tu apellido.</p>
              }
            </div>
            <div class="m-3">
              <label for="email" class="form-label">Correo
                Electrónico</label>
              <input type="email" id="email" class="form-control" formControlName="email">
              @if (this.form.controls['email'].hasError('required')) {
              <p class="text-danger">Por favor, ingresa un mail válido.</p>
              }
            </div>
            <div class="m-3">
              <label for="apellido" class="form-label">Domicilio</label>
              <input type="text" id="apellido" class="form-control" formControlName="address">
              @if (this.form.controls['address'].hasError('required')) {
              <p class="text-danger">Por favor, ingresa tu domicilio.</p>
              }
            </div>
            <div class="m-3">
              <label for="password1" class="form-label">Contraseña</label>
              <input type="password" id="password1" class="form-control" formControlName="password1">
              @if (this.form.controls['password1'].hasError('required')) {
              <p class="text-danger">Por favor, ingresa tu contraseña, deberá contener al menos 8 caracteres,
                1 mayúscula, 1 minuscula, 1 un numero y 1 caracter especial.</p>
              }
            </div>
            <div class="m-3">
              <label for="password2" class="form-label">Confirmar Contraseña</label>
              <input type="password" id="password2" class="form-control" formControlName="password2">
              @if (this.form.controls['password2'].hasError('required')) {
                <p class="text-danger">Las contraseñas no coinciden.</p>
              }
              <!-- @if(this.form.controls['passwordsMatch'] && (form.touched || form.dirty) && this.form.controls['password2'].hasError('required')) {
              <p class="text-danger"> Las contraseñas no coincide. </p>
              } -->
            </div>
            <div class="m-3">
              <button class="btn btn-primary btn-success mt-3" id="registerBtn"
                [disabled]="form.invalid">Registrarme</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-targer="#loginModal">
            Cancelar
          </button>
          <!-- <button type="submit" class="btn btn-success" id="registerBtn">
            Registrarse
          </button> -->
          <input type="submit" style="display: none" id="submitRegisterBtn" />
        </div>
      </div>
    </div>
  </div>
</section>