<div class="card mb-4 mt-4">
  <div class="card-header p-3">
    <h5 class="m-0">Medios de pago disponibles</h5>
  </div>
  <div class="card-body cardsClass p-0">
    <div
      class="row overflow-x-hidden rounded-bottom m-0 p-2"
      id="paymentsContainer"
    >
      <span
        class="col-6 p-0 mx-0 my-1 paymentImgContainer d-flex flex-row align-items-center justify-content-center"
      >
        <img
          class="paymentImg paymentImg1 w-75"
          src="../../../assets/images/payments/amex.webp"
          alt="amex"
          loading="lazy"
        />
      </span>
      <span
        class="col-6 p-0 mx-0 my-1 paymentImgContainer d-flex flex-row align-items-center justify-content-center"
      >
        <img
          class="paymentImg paymentImg2 w-75"
          src="../../../assets/images/payments/mastercard.webp"
          alt="mastercard"
          loading="lazy"
        />
      </span>
      <span
        class="col-6 p-0 mx-0 my-1 paymentImgContainer d-flex flex-row align-items-center justify-content-center"
      >
        <img
          class="paymentImg paymentImg3 w-75"
          src="../../../assets/images/payments/visa.webp"
          alt="visa"
          loading="lazy"
        />
      </span>
      <span
        class="col-6 p-0 mx-0 my-1 paymentImgContainer d-flex flex-row align-items-center justify-content-center"
      >
        <img
          class="paymentImg paymentImg4 w-75"
          src="../../../assets/images/payments/naranjax.webp"
          alt="paypal"
          loading="lazy"
        />
      </span>
    </div>
  </div>
</div>
