<section
class="d-flex flex-lg-row flex-md-column flex-sm-column flex-xs-column flex-wrap justify-content-center my-3 mx-3">
<h2 class="text-center my-3 mx-3 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">Vestí tu pasión con un
    estilo único</h2>
<div class="d-flex flex-column align-items-center col-12 col-xs-12 col-sm-12 col-md-12 col-lg-3 mx-3">
    <img src="/assets/images/products/Argentina/Argentina-1978-primera.webp" alt="camisetaArg1" class="img-fluid"
        loading="lazy">
</div>
<div class="d-flex flex-column align-items-center col-12 col-xs-12 col-sm-12 col-md-12 col-lg-3 mx-3">
    <img src="/assets/images/products/Argentina/Argentina-1986-primera.webp" alt="camisetaArg2" class="img-fluid"
        loading="lazy">
</div>
<div class="d-flex flex-column align-items-center col-12 col-xs-12 col-sm-12 col-md-12 col-lg-3 mx-3">
    <img src="/assets/images/products/Argentina/Argentina-2021-Primera.webp" alt="camisetaArg3" class="img-fluid"
        loading="lazy">
</div>
</section>
