/* cart.component.html */

#cart-container{
  display: flex;
  flex-direction: column;

}



/* #footerId {
  background-color: var(--white);
} */

/* div .modalTrigger .modalProduct {
  width: 25rem;
  height: 25rem;
} */
