<div class="card">
  <h5 class="card-header p-3">Resumen del carro</h5>
  <div class="card-body">
    <div class="row list-group list-group-flush">
      <h6 class="link-offset-3">Productos:</h6>
      <div class="d-flex flex-row flex-wrap justify-content-between">
        <div class="d-flex flex-column my-3">
          @for (product of cartResume; track product.id_producto_talle) {
          <span>{{ product.productos.nombre_producto }}</span>
          }
        </div>
        <div class="d-flex flex-column my-3">
          @for (product of cartResume; track product.id_producto_talle) {
          <span>${{ product.productos.precio * product.cantidad }}</span>
          }
        </div>
      </div>
      <hr class="my-4" />
      <div class="d-flex flex-column mx-4 my-3" id="outputSubtotal">
        <small>Precio total:</small>
        <h5>${{ totalPrice }}</h5>
      </div>
    </div>
    <div class="row">
      <button
        type="button"
        class="btn btn-success col my-1 mx-3 cartBtn"
        data-bs-toggle="modal"
        data-bs-target="#modalForm"
      >
        Finalizar compra
      </button>
      <button
        type="button"
        class="btn btn-danger col my-1 mx-3 cartBtn"
        (click)="clearCart()"
      >
        Limpiar carro
      </button>
    </div>
  </div>
</div>

<div
  class="modal fade modalContainer"
  id="modalForm"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalContainerLabel"
  aria-hidden="true"
  #modalForm
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title fs-5 modalTitle" id="modalContainerLabel">
          Información de pago
        </p>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup" (ngSubmit)="onEnviar($event)">
          <div class="mb-3">
            <label for="inputEmail" class="form-label"
              >Correo electrónico</label
            >
            <input
              type="text"
              class="form-control"
              id="inputEmail"
              aria-describedby="inputEmail"
              placeholder="email@ejemplo.com"
              formControlName="email"
            />
            <p
              class="text-danger"
              *ngIf="formGroup.controls.email.hasError('required')"
            >
              Por favor, ingresa un formato de mail valido
            </p>
          </div>

          <div class="mb-3">
            <label for="payments" class="form-label">Métodos de pago: </label>
            <select
              class="form-select"
              aria-label="Default select example"
              id="payments"
              formControlName="payment"
              (change)="onPaymentChange($event)"
            >
              <option value="" disabled selected>
                Selecciona un medio de pago
              </option>
              <option
                *ngFor="let method of paymentMethods.formas_de_pago"
                [value]="method.id_forma_de_pago"
              >
                {{ method.descripcion }}
              </option>
            </select>
            <p
              class="text-danger"
              *ngIf="formGroup.controls.payment.hasError('required')"
            >
              Por favor, selecciona un metodo de pago
            </p>
          </div>

          <div class="mb-3" *ngIf="selectedPaymentMethod === 3">
            <label for="creditCards" class="form-label">
              Tarjetas de crédito:
            </label>
            <select
              class="form-select"
              aria-label="Default select example"
              id="creditCards"
              formControlName="creditCards"
              (change)="onCardSelectChange($event)"
            >
              <option value="" disabled selected>
                Seleccioná una tarjeta de crédito
              </option>
              <option
                *ngFor="let card of paymentMethods.tarjetas"
                [value]="card.id_tarjeta"
              >
                {{ card.nombre_tarjeta }}
              </option>
            </select>
            <p
              class="text-danger"
              *ngIf="formGroup.controls.creditCards.hasError('required')"
            >
              Por favor, seleccioná una tarjeta de crédito
            </p>
          </div>

          <div class="my-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="checkTerms"
              formControlName="terms"
            />
            <label class="form-check-label" for="checkTerms">
              Acepto los
              <a href="#" class="text-decoration-underline link-offset-3"
                >términos y condiciones de compra</a
              >.
            </label>
            <p
              class="text-danger"
              *ngIf="formGroup.controls.terms.hasError('required')"
            >
              Por favor, para realizar la compra acepta los términos y
              condiciones
            </p>
          </div>
          <div class="mt-5 d-flex flex-row justify-content-evenly">
            <button
              type="button"
              class="btn btn-danger mx-1 w-50 cartBtn"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              type="submit"
              class="btn btn-success mx-1 w-50 cartBtn"
              [disabled]="formGroup.invalid"
            >
              Finalizar compra
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
