/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --green: #366608;
  --white: #f5f5f5;
  --black: #222222;
  --primaryRed: #b92f2f;
  --greenCart: #198754;
  --redCart: #dc3545;
  --yellowCart: #ffc107;
  --brown: #24160f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 30,
  'opsz' 40
}

body{
  /* #dfe9f3 */
  background: linear-gradient(120deg, var(--white) 10%, var(--green) 80%);
  /* background-image: url("../img/background.jpg"); */
  background-repeat: no-repeat;
  background-size: contain;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

p,
a,
small,
label,
span,
li,
.cartBtn,
.form-select {
  font-family: 'Montserrat', sans-serif;
}


/* Sección de productos */
ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
  text-align: left;
}

li.bold {
  font-weight: bold;
}

/* Estilo para los modales */
.modalProduct {
  position: relative;
  z-index: 2;
  background-color: var(--green);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modalProduct::before {
  content: ""; /* Creo un pseudo elemento  */
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Coloca el fondo oscuro detrás de la imagen */
  pointer-events: none; /* Permite que los elementos dentro del modal sean clicables */
}

.modalCountry {
  position: relative;
}

/* Estilo para el título de los modales */
.modalProduct__title {
  position: absolute;
  display: inline-block;
  text-align: center;
  margin: 10px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el título correctamente */
  color: var(--white);
  font-weight: bold;
  z-index: 3; /* Coloca el título por encima de todo el contenido */
  transition: all 0.3s ease;
  cursor: pointer;
}

.modalProduct__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.modalProduct__title:hover::after {
  transform: scaleX(1);
}

/* Estilos para botones de products */
.addProductBtn, .secondaryBtn {
  background-color: var(--green);
  border-color: var(--green);
}

.secondaryBtn {
  font-weight: bold;
}

.secondaryBtn:hover {
  background-color: transparent;
  border: 1px solid var(--green);
  color: var(--green);
  font-weight: bold;
}
