<section>
    <article >
      <div class="col-12">
          <h1 class="text-center my-2 mx-3">La tienda de los auténticos campeones</h1>
          <p class="text-center my-2 mx-3 fs-6">Comprá acá las camisetas retro de los campeones mundiales, desde 1930 hasta
              2022, y demostrá que sos parte de la historia del fútbol.</p>
      </div>
    </article>

<app-carousel></app-carousel>

  <article class="my-5 mx-2 d-flex flex-column align-items-center">
    <h3>Tenemos la mejor calidad de productos y variedades únicas en el mercado</h3>
    <a  href="../products/" class="btn btn-outline-secondary px-5 mt-2" style="color: #222222;" role="button">Explorá nuestros productos</a>
  </article>

<app-landing-card/>

</section>

