.card {
  margin-bottom: 1.5rem;
  border-radius: 0.75rem;
}

.card-body {
  background-color: #f9f9f9;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.order-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.order-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.order-details {
  margin-bottom: 1.5rem;
}

.product-detail {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f7f7f7;
  margin-bottom: 10px;
}

.product-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #555;
}

.product-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column; 
}

.product-description {
  flex-grow: 1;
  margin: 0.25rem 0;
  text-align: left;
}

.product-description p {
  margin: 0.25rem 0;
}

.product-image {
  width: 100%; 
  max-width: 150px;
  height: auto; 
  margin-top: 10px; 
}

.d-flex.justify-content-end.mt-3 {
  margin-top: 1rem;
}

.w-100 {
  width: 100%;
}

.btn {
  margin-top: 0.5rem;
}
.btn-custom {
  height: 40px;
  line-height: 1;
  min-width: 100px; 
}

@media (max-width: 576px) {
  .flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }
  
  .nav-item {
    margin: 0 5px 5px 0; 
  }
}
