<section>
  <!-- Modal-->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" id="loginForm">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="login()">
            <div class="mb-3">
              <label for="emailField" class="form-label">Dirección de e-mail</label>
              <input type="email" name="loginEmail" [(ngModel)]="email"  class="form-control" id="emailField" required autocomplete="email" />

              <div id="emailHelp" class="form-text">
                Ingrese una direccion válida.
              </div>
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Contraseña</label>
              <div class="d-flex flex-row align-items-center justify-content-evenly">
                <input type="password" [(ngModel)]="password" name="password" required class="form-control" id="inputPassword" aria-describedby="passwordHelp" minlength="8" maxlength="20" autocomplete="current-password" />



                <span class="material-symbols-sharp ms-2 d-block" id="loginVisibilityOn"
                  (click)="togglePasswordVisibility()">visibility</span>
              </div>

            </div>
            <input type="submit" style="display: none" id="submitLoginBtn" />
            <button type="submit" class="btn btn-success" id="logBtn" data-bs-dismiss="modal">Ingresar</button>

          </form>
        </div>
        <div class="modal-footer d-flex flex-row align-items-center justify-content-between">
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#registerModal">
            Registrarme
          </button>
          <div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancelar
            </button>
            <!--<div>
              <button (click)="registerForm()">Recuperar Contraseña</button>
            </div>-->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
